.Container{
  display: flex;
  padding: 10px;
  border: 2px solid black;
  color: black;
  width: 40rem;
  height: 25rem;
}
.sideArea{
  padding: 0px 10px;
  border: 1px solid black;
  color: black;
  width: 10rem;
  height: 25rem;
}
.UserImage{
  padding-top: 10px;
}
ul{
  list-style:none;
  padding-left: 10px;
}
li{
  text-align: left;
  
}

.MainArea{
  margin-left: 5px;
  border: 1px solid black;
  color: black;
  width: 30rem;
  height: 25rem;
}
