*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}
body {
  background-color: #fff;
}
.dashboard-content {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#080710, #ffffff);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #080710, #ffffff);
  right: -30px;
  bottom: -80px;
}

.checkboxes-row {
  margin-top: 35px;
}

.form-check .form-check-input {
  float: left;
  margin-left: 0;
  margin-top: 5px;
}

.form-check-input {
  appearance: auto;
}
.form-check-label {
  margin-left: 10px;
}

.newvolunt-form {
  height: auto;
  max-height: 70%;
  width: auto;
  min-width: 40%;
  background-color: rgba(255, 255, 255, 0.13);
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: none;
  box-shadow: none;
  padding: 50px 35px;
}
.newvolunt-form * {
  font-family: "Poppins", sans-serif;
  color: #000;
  letter-spacing: 0.5px;
  outline: none;
}
.newvolunt-form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
select {
  height: 50px;
  margin-top: 8px;
}

::placeholder {
  color: #e5e5e5;
}
.btn {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
button {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
div .lider {
  margin-top: 50px;
}
