*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

label{
  font: 600 11px/16px Inter,sans-serif;
  letter-spacing: .4px;
  margin: 0;
  text-transform: uppercase;
  font-size: 11px;
}

.dashboard-content {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#080710, #ffffff);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #080710, #ffffff);
  right: -30px;
  bottom: -80px;
}

.checkboxes-row {
  margin-top: 35px;
}

.form-check .form-check-input {
  float: left;
  margin-left: 0;
  margin-top: 5px;
}

.form-check-input {
  appearance: auto;
}
.form-check-label {
  margin-left: 10px;
}

.newvolunt-form {
  margin-block: auto;
  border: none;
  box-shadow: none;
}
.newvolunt-form * {
  outline: none;
}
.newvolunt-form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

/* .new-volunteers-container {
  background: var(--background-color-medium);
  border-radius: 20px;
  margin: 40px;
  border: var(--border);
  padding: 30px;
  box-shadow: 0 4px 16px var(--shadow);
} */

.new-volunteers-container label {
  display: block;
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  color: #818181;
}

.new-volunteers-container :is(input, select) {
  display: block;
  height: 45px;
  width: 100%;
  border: var(--border);
  background-color: var(--background-color-input);
  border-radius: 12px ;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

::placeholder {
  color: #818181;
}
.btn {
  width: 100%;
  border: solid 1px var(--text-color);
  font-size: 18px;
  border-radius: 12px;
  color: var(--text-color) !important;
  padding-block: 10px;
}

.btn-secondary{
  background-color: transparent;
}

.btn-primary{
  background-color: var(--background-color-input);
  border: var(--border);
  box-shadow: 0 4px 16px var(--shadow);
}

.btn-primary:hover{
  box-shadow: 0 4px 16px #0b5dd728;
}

button {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
div .lider {
  margin-top: 50px;
}

*{
  --button-color:#fc7225;
}

.new-volunteers-container label:has(input){
  border: solid 2px var(--button-color);
  border-radius: 12px;
  padding: 7px;
  padding-block: 14px;
  text-align: center;
  cursor: pointer;
  color: var(--button-color) !important ;
  transition: all 0.1s ease-in-out;
}

.new-volunteers-container label:has(input)>input{
  display:none;
}

label:has(input:checked){
  background-color: var(--button-color);
  color: var(--background-color-darker) !important;
  font-weight: 600;
  box-shadow: 0px 3px 10px #fc702531;
}
.addArea{
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-inline: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  margin-top: 10px;
}

.addArea:hover{
  background-color: #0000001a;
}

.labelSelector label{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}