.dashboard-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
      #080710,
      #ffffff
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #080710,
        #ffffff
    );
    right: -30px;
    bottom: -80px;
}
.form-login{
    height: auto;
    max-height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.form-login *{
    font-family: 'Poppins',sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.form-login h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    font: 600 11px/16px Inter,sans-serif;
    letter-spacing: .4px;
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
}

:is(input, select) {
    display: block;
    height: 45px;
    width: 100%;
    border: var(--border);
    background-color: var(--background-color-input);
    border-radius: 12px ;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
  }

input[type="checkbox"][name="savesession"]{
    border: none;
    border-radius: 3px;
    margin-right: 7px;
}


::placeholder {
  color: #818181;
}


.btn {
    width: 100%;
    border: solid 1px var(--text-color);
    font-size: 18px;
    border-radius: 12px;
    color: var(--text-color) !important;
    padding-block: 20px;
}

.btn-secondary{
background-color: transparent;
}

.btn-primary{
background-color: var(--background-color-input);
border: var(--border);
box-shadow: 0 4px 16px var(--shadow);
}

.btn-primary:hover{
box-shadow: 0 4px 16px #0b5dd728;
}

button {
width: 100%;
background-color: #ffffff;
padding: 10px 20px !important;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}